header{
    background: rgb(41, 41, 41);
    margin: 0px;
    padding: 40px 0px 10px 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serifs;
    text-align: center;
    position:relative;
    width: 100%;
}

header a {
    text-decoration: none;
    color:goldenrod;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

p.label{
    padding-top: 20px;
    font-size: 20px ;
    text-align: center;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 60px 0px 0px;
}

section{
    display: flex;
    flex-direction: row;
    margin: 60px;
}

div.range{
    background: rgb(255, 138, 255);
    margin: auto;
    width: 350px;
    height: 350px;
}

footer{
    background-color: rgb(41, 41, 41);
    color:rgb(216, 216, 216);
    text-align:center;
    padding: 60px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: goldenrod;
}

figcaption{
    color: grey;
    font-weight: bold;
    text-align: center;
}

section.pcBuilds figure{
    align-content: center;
}

.contact-form{
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.contact-form form{
    position: relative;
}

.contact-form form input,
form textarea{
    width: 65%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #ffffff;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form form .btn{
    display: inline-block;
    margin-left: 17px;
    background-color: goldenrod;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover{
    border: 2px solid goldenrod;
    background: transparent;
    transform: scale(1.06);
}

button.pcRange:hover {
    background-color: #ffffff;
    border: 2px solid goldenrod;
    border-radius: 15px;
    background: rgb(216, 209, 190);
    transform: scale(1.06);
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

button.pcRange{
    background-color: #ffffff;
    border-style: none;
}

figcaption.pcRange{
    padding-top: 20px;
}

ul :first-child{
    padding-bottom: 20px;
}

.lowprocessor{
 width: 500px;
 height: 281px:
}